<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home</title>
</head>
<body>
   
    <!-- main div (hero) like body-->
    <div id="hero">
        <!-- <nav>navbar</nav> -->
        <article class="box6"><a href="#ready_to_delivery" style="color: red;">ready_to_delivery</a></article>
        <!-- filter -->
        <article class="box2">Filter
        <select name="select" id="select">
            <option value="">Price</option>
            <option value="">0-500</option>
            <option value="">0-1000</option>
            <option value="">0-2000</option>
            <option value="">500-2000</option>
            <option value="">5000</option>
            <option value="">50000</option>
            <option value="">500000</option>
            <option value="">1000000</option>
            <option value="">Unlimited</option>
          
        </select>
        <input type="text">     
        </article>
        <!-- Area -->
        <article class="box3">Area
        <select name="select" id="select">
            <option value="">pakistan</option>
            <option value="">Islamabad</option> 
            <option value="">Rawalpindi</option>
            <option value="">Karachi</option>
            <option value="">Lahore</option>
            <option value="">Faisalabad</option>
            <option value="">Gujranwala</option>
            <option value="">Peshawar</option>
            <option value="">Multan</option>
            <option value="">Hyderabad</option>
        </select>
        <input type="text">
        </article>

        <article class="box4"><a href="#Wishlist">Wishlist</a></article>
        <article class="box5"><a href="#Purchase_Order">Purchase_Order</a></article>
        <!-- Search -->
        <article class="box1">Search
            <select name="select" > 
                <option value="" >Jewellery</option>
                <option value="">Dresses</option>
                <option value="">Services</option>
                <option value="">Shoes</option>
                <option value="">Accessories</option>
                <option value="">Computers/laptops</option>
                <option value="">Furniture</option>
                <option value="">Appliances</option>
                <option value="">Grocery</option>
                <option value="">Utensils</option>
                <option value="">Fresh_Foods</option>
                <option value="">Travel</option>
                <option value="">Cars</option>
                <option value="">Bikes</option>
                <option value="">Medical</option>
                <option value="">Used_Items</option>
                <option value="">Mobiles</option>
            </select>
            <input type="text">
            </article>

        <article class="box7"><a href="#Jewellery">Jewellery</a></article>
        <article class="box8" ><a href="#Dresses">Dresses</a></article>
        <aside><a href="#team">How To Join Us
            <p style="margin-top: 20px;">Be A Part Of Our Team</p>
        </a></aside>
        <article class="box9"><a href="#Shoes">Shoes</a></article>
        <article class="rana10"><a href="#Accessories">Accessories</a></article>
        <article class="rana11"><a href="#laptops">Computers/laptops</a></article>
        <article class="rana12"><a href="#Furniture">Furniture</a></article>
        <article class="rana13"><a href="#Appliances">Appliances</a></article>
        <article class="rana14"><a href="#Grocery">Grocery</a></article>
        <article class="rana15"><a href="#Utensils">Utensils</a></article>
        <article class="rana16"><a href="#Fresh_Foods">Fresh_Foods</a></article>
        <article class="rana17"><a href="#Travel">Travel</a></article>
        <article class="rana18"><a href="#Cars">Cars</a></article>
        <article class="rana19"><a href="#Bikes">Bikes</a></article>
        <article class="great20"><a href="#Medical">Medical</a></article>
        <article class="great21"><a href="#Used_Items">Used_Items</a></article>
        <article class="great22"><a href="#Mobiles">Mobiles</a></article>
        <section class="main-content">Tax Free Shopping Mart
        </section>
        
        <!-- Add Item -->
        <footer id="team">Be A Part Of Our Team
            <p>If you want to be a member of our Team Please add any item proudly</p>
           <button id="additembut"><a href="#additem"> add your item and your Price</a></button>
        </footer>
        <footer id="additem">Add Your Item 
            <select name="select" > 
                <option value="" >Choose_Your_Item</option>
                <option value="" ><a href="#Jewellery">Jewellery</a> </option>
                <option value=""><a href="#Dresses">Dresses</a></option>
                <option value=""><a href="#Services">Services</a></option>
                <option value=""><a href="#Shoes">Shoes</a></option>
                <option value=""><a href="#Accessories">Accessories</a></option>
                <option value=""><a href="#laptops">Computers/laptops</a></option>
                <option value=""><a href="#Furniture">Furniture</a></option>
                <option value=""><a href="#Appliances">Appliances</a></option>
                <option value=""><a href="#Grocery">Grocery</a></option>
                <option value=""><a href="#Utensils">Utensils</a></option>
                <option value=""><a href="#Fresh_Foods">Fresh_Foods</a></option>
                <option value=""><a href="#Travel">Travel</a></option>
                <option value=""><a href="#Cars">Cars</a></option>
                <option value=""><a href="#Bikes">Bikes</a></option>
                <option value=""><a href="#Medical">Medical</a></option>
                <option value=""><a href="#Used_Items">Used_Items</a></option>
                <option value=""><a href="#Mobiles">Mobiles</a></option>
            </select>
            <input type="text">

        </footer>
        
        <footer id="Jewellery">Jewellery
            <form action="/action_page.php">
                <input type="text" placeholder="Add your item price">
                <input type="file" id="Image" name="Image" title="Add_Your Items Image">
                <input type="submit">
              </form>
        </footer>
        <footer id="Dresses">Dresses</footer>
        <footer id="Services">Services</footer>
        <footer id="Shoes">Shoes</footer>
        <footer id="Accessories">Accessories</footer>
        <footer id="laptops">Computers/laptops</footer>
        <footer id="Furniture">Furniture</footer>
        <footer id="Appliances">Appliances</footer>
        <footer id="Grocery">Grocery</footer>
        <footer id="Utensils">Utensils</footer>
        <footer id="Fresh_Foods">Fresh_Foods</footer>
        <footer id="Travel">Travel</footer>
        <footer id="Cars">Cars</footer>
        <footer id="Bikes">Bikes</footer>
        <footer id="Medical">Medical</footer>
        <footer id="Used_Items">Used_Items</footer>
        <footer id="Mobiles">Mobiles</footer>
    </div>
    <!-- Rana Brothers And Sons Shopping Mart -->
       <div id="shpm">Rana Brothers And Sons Shopping Mart
            <div id="shp1">shp1</div>
            <div id="shp2">shp2</div>
            <div id="shp3">shp3</div>
            <div id="shp4">shp4</div>
       </div>

    <div>
        <button> <a href="#Appliances"><img id="top" src="./static/image/27.png" alt="top"></a></button><br><br>
    </div>
   
    <div>
            <button> <a href="#Mobiles"><img id="top1" src="./static/image/23.png" alt="top"></a></button><br><br>
    </div>

    <div>
        <button><a href="#hero"><img id="top2" src="./static/image/24.jfif" alt="top"></a></button><br><br>
    </div>
    
</body>
</html>